<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sprint 01</title>
        <link href="bootstrap.min.css" rel="stylesheet">
        <link href="app.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="row">
                <h1>WTAT - SPRINT 01 </h1>
            </div>
        </header>
        <main>
            <section>
                <p>Melanie Holzapfel-Hüttenrauch</p>
                <h4>Assignment: First Node Web App & Project Idea</h3>
            </section>
            <section class="follow-sec">
                <div>Checkout my <b>"First Node App"</b> on behalf of this course under: <a href="https://github.com/MelanieHoHue/WTAT-SPRINT01" target="_blank">https://github.com/MelanieHoHue/WTAT-SPRINT01</a></div>
            </section>
        </main>
    </body>

</html>