<!DOCTYPE html>
<html>
    <head>
        <title>Sprint 01</title>
        <meta charset="UTF-8">
        <link href="bootstrap.min.css" rel="stylesheet">
        <link href="app.css" rel="stylesheet">
    </head>

    <body>
        <nav>
            <div class="container">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/info">Project Idea</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://github.com/MelanieHoHue/WTAT-SPRINT01">Sprint-Repo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/thanks">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <h1>WTAT - SPRINT 01 </h1>
                    </div>
                    <div class="col-4">
                        <form >
                            <input type="search" class="form-control" placeholder="Search">
                        </form>
                    </div>
                </div>
            </div>
            <hr>
        </header>
        <main>
            <div class="container">
                <section>
                    <p>Melanie Holzapfel-Hüttenrauch</p>
                    <h4>Assignment: First Node Web App & Project Idea</h3>
                </section>
                <section class="follow-sec">
                    <div>Checkout my <b>"First Node App"</b> on behalf of this course under: <a href="https://github.com/MelanieHoHue/WTAT-SPRINT01" target="_blank">https://github.com/MelanieHoHue/WTAT-SPRINT01</a></div>
                    <div class="mg-top-10">Please read about my <a href="/info">Project Idea</a></div>
                </section>
            </div>
        </main>
    </body>

</html>