<!DOCTYPE html>
<html>
    <head>
        <title>Sprint 01</title>
        <meta charset="UTF-8">
        <link href="/bootstrap.min.css" rel="stylesheet">
        <link href="/app.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="row">
                <h1>WTAT - SPRINT 01 </h1>
            </div>
        </header>
        <main>
            <section>
                <p>Melanie Holzapfel-Hüttenrauch</p>
                <h3>Project Idea</h3>
            </section>
            <section class="follow-sec">
                <div>tbd</div>
            </section>
        </main>
    </body>

</html>