<!DOCTYPE html>
<html>
    <head>
        <title>Sprint 01</title>
        <meta charset="UTF-8">
        <link href="/bootstrap.min.css" rel="stylesheet">
        <link href="/app.css" rel="stylesheet">
    </head>

    <body>
        <nav>
            <div class="container">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#">Project Idea</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://github.com/MelanieHoHue/WTAT-SPRINT01">Sprint-Repo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/thanks">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <h1>WTAT - SPRINT 01 </h1>
                    </div>
                    <div class="col-4">
                        <form >
                            <input type="search" class="form-control" placeholder="Search">
                        </form>
                    </div>
                </div>
            </div>
            <hr>
        </header>
        <main>
            <section>
                <p>Melanie Holzapfel-Hüttenrauch</p>
                <h3>Project Idea: Yet another TODO APP</h3>
            </section>
            <section class="follow-sec"></section>
                <div class="row">
                    <img class="col-6" src="/mock-2">
                    <div class="col-6 text">
                        <b>But one with more features</b>, that makes the app to a more sophisticated one.
                        <br><br>
                        At the start page you can see all the topic you´re working on along with their sub-topics.
                        <br><br>
                        As well as all of the TODO´s you have to do for any of your working topics.
                        <br><br>
                        In addition with your bookmark collection as a whole, that represent the results of all of the research you did. 
                    </div>
                </div>
            </section>
            <section class="follow-sec"></section>
                <hr>
                <div class="row">
                    <img class="col-6" src="/mock-3">
                    <div class="col-6 text">
                        If you click on a topic you get a handy overview of the belonging
                        <br><br>
                        <ul>
                            <li><b>Sub-Topics</b>></li>
                            <li><b>ToDo´s</b></li>
                            <li>(eventually) their <b>Due Dates</b></li>
                            <li>and linked <b>Bookmarks</b></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="follow-sec"></section>
                <hr>
                <div class="row">
                    <img class="col-6" src="/mock-4">
                    <div class="col-6 text">
                        Within the ToDo-view you can take notes, save attachments on the behalf of the ToDo.
                        <br><br>
                        You can even see a little statistic about e.g.:
                        <br><br>
                        <ul>
                            <li>when you have worked on it </li>
                            <li>and how long did it takes you</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="follow-sec"></section>
                <hr>
                <div class="row">
                    <img class="col-6" src="/mock-5">
                    <div class="col-6 text">
                        It would be possible to develop even more overviews and statistics. E.g.:
                        <br><br>
                        <ul>
                            <li>how does the topic integrate into the superior project</li>
                            <li>how is the project progress performing</li>
                            <li>when will milestones be reached</li>
                        </ul>
                    </div>
                </div>
            </section>
        </main>
    </body>

</html>