body {
    color: grey;
}

header {
    padding: 2% 0% 1.8% 2%;
}

main {
    padding: 0% 2% 1% 2%;
}

.follow-sec {
    margin-top: 50px;
}

.mg-top-10 {
    margin-top: 10px;
}

.text {
    font-size: 1.4rem;
}

.container {
    margin-right: 0;
    margin-left: 0;
}

.nav {
    padding: 1.5% 0% 1% 2%;
}